body {
    background-color: pink;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, violet);
    color: white;
    padding: 5px;
    font-size: 16pt;
    transition: 600ms 2s;
}

main {
    margin: 10px 20px;
}

header:hover{
    font-size: xx-large;
    transition: 700ms 0.1s;
}

header:active{
    color: blueviolet;
    transition: 500ms 0.1s;
}

footer {
    background: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, violet);
    color: white;
    padding: 5px;
    font-size: 14pt;
    text-align: right;
    transition: 600ms 2s;
}

footer:hover{
    font-size:x-large;
    transition: 700 0.1s;
}

footer:active{
    color: yellow;
    transition: 500ms 0.1s;
}

a {
    color: green;
    text-decoration: none;
    transition: 500ms 1s;
}

a:visited{
    color: rgb(103, 51, 193);
    font-style: italic;
}

a:hover{
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgb(184, 109, 109);
    transition: 300ms 0.1s;
}

a:active{
    color:pink;
    background-color: green;
}